.emoji-area{
    background-color: white;
    height: 400px;
    padding-top: 50px;
}

.emoji-area h2{
    font-family: Bowlby one;
    text-align: center;
    margin-bottom: 50px;
}

.emoji-area ul{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.emoji-area img{
    width: 200px;
    transition: all 0.5s ease;
    cursor: pointer
}

.emoji-area .active{
    scale: 1.5;
}

.emoji-area img:hover,
.emoji-area img:active{
    scale: 1.5;

}

@media (max-width : 600px) {
    .emoji-area img{
        width: 100px;
    }
    .emoji-area ul{
        margin-left: -30px;
    }
}